<!-- display privacy memes -->
{{ range .Site.Data.privacymemes }}
    <a href="/memes/{{ .file }}" title="{{ .description }}">
      <img src="/memes/{{ .file }}" alt="" style="width:20%;maxwidth:400px;margin:4% 2%;"></a>
{{ end }}
<br clear="all">
