<aside id="social">
  <div id="social-icons">
    {{ if isset .Site.Params "emailaddress" }}
    <div class="icon-24x24">
      <a class="glyph" alt="Email me" href="mailto:{{ .Site.Params.EmailAddress }}"><img src={{ "icons/envelope.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "matrixuser" }}
    <div class="icon icon-24x48">
      <a class="glyph" alt="Matrix profile" href="https://matrix.to/#/{{ .Site.Params.MatrixUser }}"><img src={{ "icons/matrix-logo.svg" | absURL }} height="24px" width="48px"></a>
    </div>
    {{ end }}
    {{ if isset .Site.Params "telegramuser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="Telegram profile" href="https://t.me/{{ .Site.Params.TelegramUser }}"><img src={{ "icons/telegram-logo.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}

    {{ if isset .Site.Params "facebookuser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="Facebook profile" href="javascript:alert('seriously?')"><img src={{ "icons/facebook.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}

    {{ if isset .Site.Params "gitlabuser" }}
    <div class="icon-24x24">
      <a class="glyph" alt="GitLab profile" href="https://gitlab.com/{{ .Site.Params.GitLabUser }}"><img src={{ "icons/gitlab.svg" | absURL }} height="24px" width="24px"></a>
    </div>
    {{ end }}

    <div class="icon icon-24x48">
      <a class="glyph" alt="Hugo" href="https://gohugo.io"><img src={{ "icons/hugo-logo-wide.svg" | absURL }} height="24px" width="48px"></a>
    </div>

  </div>
</aside>
