<!-- display stickers -->
{{ range .Site.Data.privacypam }}
  <div>
    <a href="/stickers/{{ .file }}" title="{{ .description }}">
      <img src="/stickers/{{ .file }}" alt="" style="width:29%;maxwidth:512px;margin:4% 2%;float:left;">
    </a>
  <div>
{{ end }}
<br clear="all">
